#n{
    display: flex ;
    list-style: none;
  }
  #M{
      display: block;
      text-decoration: double;
      color: #000000;
      padding: 0.1rem;
      margin: 0 0.4rem;
      border-radius: 0.5rem;
      background-color: #FFFFFF;
      justify-content: center;
      align-items: center;
      width: fit-content;
  }